@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7f7f7;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  background-image: url("/images/fundo.png"); /* Caminho dentro da pasta public */
  background-size: cover; /* cobre a tela inteira */
  background-position: center; /* centraliza a imagem */
  background-attachment: fixed; /* dá o efeito de "parallax" */
  background-repeat: no-repeat;
}
